
body{
    background-image:url("contact2.jpg");
    background-size:cover;
    text-align:center;
    color:white;
}


.field{
    padding-top:70px;
    color:black;

}

.all{
    text-align:center;
}

.tall_field{
    height:30px;
    background-color:;
}

h1{
    padding-top:80px;
    color:black;
}

h3{
    color:black;
}