
a{
    color:white;
    text-decoration:none;
}

a:hover{
    color:blue;
    text-decoration:none;
}


body{
    background-image:url('pepper4.jpg');
    text-align:left; /* Align text to the right */
    background-size: cover; /* Make it fill the page */
    background-position: left top ; /* Center the image */
    background-repeat: no-repeat;
    color:white;
    padding-left:120px; /* Add space from the left edge */
    padding-top:80px;
    font-family:Arial, sans-serif;
    }

.field{
    padding-top:200px;

}


h1{
    font-size:75px;
    margin-bottom:100px;

}


p{
    width:500px;
   /* height:200px;*/
    font-size:20px;
    padding-top:100px;
    float: left; /* Keep text box on the right side */
     /*   text-align: justify;            /* Make paragraph cleanly aligned */
    /*background-color:#521C0D;*/
    border-radius: 10px;

}

.subFolder{

    font-size:30px;
    text-align:right;
    margin-right:70px;

}

hr{
    width:33%;
    text-align:right;
    margin-right:70px;

}

.rightside{
    padding-top:50px;
}

