<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GET TO KNOW WHAT I DO 💻</title>
    <link rel="stylesheet" href="static/about.css">
</head>
<body>
    <h1>ABOUT ME</h1>

    <div class="info">
        <p>
            Hi! I’m <strong>Ayobami Ata</strong>,a passionate junior back-end developer who enjoys designing efficient and
            reliable systems that power great user experiences.
        </p>

        <p>
            I recently completed the <strong>100 Days of Code: Python Bootcamp</strong> by Angela Yu,
            where I built hands-on projects using <strong>Flask</strong>, <strong>APIs</strong>,
            and <strong>databases</strong>. That experience helped me discover my love for back-end logic;
            making apps work seamlessly under the hood.
        </p>

        <p>
            I love exploring how servers, routes, and data come together to create functionality that just works.
            With my current enrolment into the TS Academy, my focus is now on <strong>Node.js</strong> and <strong>Javascript</strong>.
        </p >

        <p>
            When I’m not coding, I’m usually reading about new technologies, improving my projects, or planning
            what to build next. My goal is to keep growing into a full-stack developer who builds tools that make a difference.
        </p>

    </div>



<!--    <a href="{{ url_for('home') }}">🏠 Back to Home</a>-->


</body>

</html>