
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AYOBAMI ATA 💻</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">


</head>
<body>
    <h1>AYOBAMI<br>ATA</h1>
        <p>Hi there! I’m Ayobami Ata, a junior back-end developer who loves turning ideas into smooth, reliable web applications.
            I enjoy working with databases, APIs, and server-side logic to make things work behind the scenes. This site is a peek into
            my projects, my coding journey, and the problem-solving adventures I’ve been on so far. Enjoy!</p>

    <div class="rightside">
        <h3 class="subFolder"><a href="about">ABOUT</a></h3>
        <hr>

        <h3 class="subFolder">PROJECTS</h3>
        <hr>

        <h3 class="subFolder"><a href="contact">CONTACT</a></h3>
        <hr>
    </div>

</body>
</html>

